server:
  servlet:
    context-path: /grupos-service
  port: 0

spring:
  application:
    name: grupos-service 

  profiles:
    default: dev 

  config:
    #import: ${SPRING_CONFIG_IMPORT} # Importa la configuraci贸n externa desde config-server
    #import: optional:configserver:http://localhost:7777/
    import: optional:configserver:http://192.168.100.48:7777/

  datasource:
    username: ${db.username} 
    hikari:
      maximum-pool-size: 5 
      connection-timeout: 20000 
    url: ${db.url} 
    password: ${db.password} 


  cloud:
    stream:
      #  Definici贸n del binder (el "puente" entre Spring y Kafka)
      binders:
        kafka:
          type: kafka  # Indica que el binder ser谩 Kafka
          environment:
            spring:
              kafka:
                bootstrap-servers: 192.168.100.48:9093  # Direcci贸n IP y puerto del broker Kafka

      # Л Definici贸n de los canales l贸gicos de entrada y salida
      bindings:
        output:
          destination: mi-topic  # Topic de Kafka al que se enviar谩n los mensajes
          binder: kafka          # Usa el binder llamado "kafka"
          content-type: application/json  # Tipo de datos a enviar (recomendado para compatibilidad)

        input:
          destination: mi-topic  # Topic desde el que se leer谩n los mensajes
          group: grupoA          # Grupo de consumidores (permite recibir solo una vez por grupo)
          binder: kafka
          content-type: application/json  # Tipo de datos esperados
       # Usa tambi茅n el binder de Kafka


logging:
  level:

    org:
      hibernate:
        SQL: DEBUG # Muestra las consultas SQL generadas por Hibernate en la consola
        type:
          descriptor:
            sql:
              BasicBinder: TRACE # Muestra tambi茅n los valores que se "bindean" (asignan) a las consultas SQL

eureka:
  instance:
    instance-id: "${spring.application.name}:${random.value}" # ID 煤nico para registrar esta instancia en Eureka (evita duplicados)
  client:
    service-url:   
      defaultZone: http://192.168.100.48:8761/eureka/
      #defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v1/api-grupos

